body {
 

 font-style: oblique;
font-family: Georgia, 'Times New Roman', Times, serif;
font-stretch: expanded;
}

h1 {
    color:slateblue;
  }

  p {
    color:darkorchid;
  }

  li {
    list-style-type: square;
  }


  li.special {
    color: hotpink;
    font-weight: bold;
  }
  li em {
    color: rebeccapurple;
  }

  li em {
    color: rgb(61, 11, 110);
}

h1 + p {
    font-size: 200%;
}
.outer {
    border: 5px solid black;
  }
  
  .box {
    padding: 10px;
    width: calc(ASK YOUR QUESTION HERE);
    background-color: rebeccapurple;
    color: white;
  }
 
  #genie_response {
    font-size:2em;
    font-weight: bold;
 
  }
  