body {
  background-image: url("images/Clear_Crystal_ball.jpg");
}

h1 {
    color:slateblue;
  }

  p {
    color: #ee82ee;
  }

  li {
    list-style-type: square;
  }


  li.special {
    color: orange;
    font-weight: bold;
  }
  li em {
    color: rebeccapurple;
  }

  li em {
    color: rgb(61, 11, 110);
}

h1 + p {
    font-size: 200%;
}
.outer {
    border: 5px solid black;
  }
  
  .box {
    padding: 10px;
    width: calc(ASK YOUR QUESTION HERE);
    background-color: rebeccapurple;
    color: white;
  }
 

